<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="org.zerock.mapper.MemberMapper">
  
  <resultMap type="org.zerock.domain.MemberVO" id="memberMap">
  <id property="userid" column="userid"/>
  <result property="userpw" column="userpw"/>
  <result property="username" column="username"/>
  <result property="enabled" column="enabled"/>
  <result property="regdate" column="regdate"/>
  <result property="updateDate" column="updatedate"/>
  <collection property="authList" resultMap="authMap"></collection>
  </resultMap>
  
  <resultMap type="org.zerock.domain.AuthVO" id="authMap">
   <result property="userid" column="userid"/>
   <result property="auth" column="auth"/>
  </resultMap>
  
  
  <select id="getMember" resultMap="memberMap" >
select 
	member.userid, userpw, username, enabled, regdate, 
	updatedate, auth.userid, auth 
from
 	tbl_member member left outer join tbl_member_auth auth
on member.userid = auth.userid
where member.userid = #{uid}
  </select>
  
 
  
  </mapper>